/* CSS HEX */
/* --jade: #00a676ff;
--seasalt: #f7f9f9ff;
--almond: #e0d0c1ff;
--redwood: #a76d60ff;
--blood-red: #601700ff; */
/* https://coolors.co/00a676-f7f9f9-e0d0c1-a76d60-601700 */

h1, h2, h3 {color: #601700ff }
body {
background-color: #f7f9f9ff ;
color: #a76d60ff
}

img{ 
    height: 300px;
    width: 300px; 
    border-radius: 15px;
    
}

